@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #015a3e;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  background-color: turquoise;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #05ffb0;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

.main-page {
  background-color: turquoise;
  padding: 50px;
}

.main-list {
  margin-bottom: 1rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
